@tailwind base;
@tailwind components;
@tailwind utilities;


.background-image {
    background-image: url('../SmileBg.png');
    background-size: cover;
    background-position: center;
    width: 510px;
    border-radius: 20px;
    
    
}


